{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "endOfLine": "lf"
}
