[package]
name = "operator"
version = "0.1.0"
edition = "2024"
repository = "https://github.com/rustfs/operator"
license = "Apache-2.0"
homepage = "https://rustfs.com"


[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
tokio = { version = "1.48.0", features = ["rt", "rt-multi-thread", "macros", "fs", "io-std", "io-util"] }
futures = "0.3.31"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20" }
serde_json = "1.0.145"
serde_yaml_ng = "0.10.0"
strum = { version = "0.27.2", features = ["derive"] }
k8s-openapi = { version = "0.26.0", features = ["v1_30", "schemars"] }
kube = { version = "2.0.1", features = ["runtime", "derive", "client"] }
schemars = "1"
clap = { version = "4.5.51", features = ["derive"] }
x509-parser = "0.18.0"
rustls-pemfile = "2.2.0"
rustls-pki-types = "1.13.0"
rsa = "0.9.8"
pkcs1 = { version = "0.7.5", features = ["pkcs8"] }
p256 = { version = "0.13.2", features = ["ecdsa"] }
ed25519-dalek = { version = "2.2.0", features = ["pkcs8"] }
pkcs8 = "0.10.2"
sec1 = "0.7.3"
snafu = { version = "0.8.9", features = ["futures"] }

[dev-dependencies]

[build-dependencies]
built = { version = "0.8", features = ["chrono", "git2"] }

[lints.rust]
unused_variables = "allow"
